<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ tag }}</title>
</head>
<body>
    <h1>Bookmarks with Tag: {{ tag }}</h1>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Timestamp</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for bookmark in bookmarks %}
            <tr>
                <td><a href="/bookmark/{{ bookmark.url_md5 }}">{{ bookmark.url }}</a></td>
                <td>{{ bookmark.timestamp }}</td>
                <td> {% for tag in bookmark.tags %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No bookmarks found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">Back to Bookmarks</a>